
.project-list {
    border: none;

    .titulo {
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
    }
    .textdescr {
        text-align: justify;
        padding: 10px;
        font-size: 0.75em;
        color: white;
    }

}

.bg-board {
  background-color: rgb(232, 234, 246);
}


.dropdown-user .q-btn-inner > div {
  +sm-down() {
    display: none;
  }
}
