// app global css
@import "~variables"
@require "./partials/*"
@require "./pages/*"

// import quasar (sobreescritas dos components do quasar)
@require "./quasar"


.blue {
  background: #00b0ff;
}
.red {
  background: #f44336;
}
.green {
  background: #8bc34a;
}
.amber {
  background: rgb(255, 152, 0);
}
